/* 
fonts

font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181719;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-rows: 200px 1fr;
  margin: 42px 77px;
}

/* NAV */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav .logo {
  font-family: 'Crimson Pro', serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  box-sizing: border-box;

  color: #ffffff;
}

nav .logo span {
  border: 1px solid #ffffff;
  padding: 8px;
}

nav .navbar {
  justify-self: end;
}

nav .navbar ul li {
  display: inline-block;
  list-style: none;
  margin-left: 86px;
  cursor: pointer;
}

nav .navbar ul li:first-child {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

nav .navbar ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section .text h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;

  color: #ffffff;
}

section .text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  margin-top: 40px;
  margin-bottom: 48px;

  max-width: 410px;

  color: #ffffff;
}

section .text a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  text-decoration: none;

  color: #ffffff;
}

section .gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
}

section .gallery > img:first-child {
  width: 800px;
  height: 500px;
}

section .gallery .box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 410px;
  height: 189px;
  background-color: #181719;

  left: 1340px;
  top: 670px;
  position: absolute;
}

section .gallery .box .photo {
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 11px;
  padding: 10px;
}

section .gallery .profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

section .gallery .box .photo img {
  width: 85px;
  height: 72px;
  border-radius: 50%;
}

section .gallery .box .description {
  display: grid;
  align-content: center;
  margin-left: 5px;
}

section .gallery .box .description p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #828282;
}

section .gallery .box .description p:first-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  margin-bottom: 8px;

  color: #ffffff;
}

section .gallery .box .data {
  margin-left: 26px;
  width: 287px;
  height: 62px;
}

section .gallery .box .data h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 46px;
}

footer .h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #a9a9a9;
}
