/* 
fonts

font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181719;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-rows: 200px 1fr;
  margin: 42px 77px 280px 77px;
}

/* NAV */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav .logo {
  font-family: 'Crimson Pro', serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  box-sizing: border-box;

  color: #ffffff;
}

nav .logo span {
  border: 1px solid #ffffff;
  padding: 8px;
}

nav .navbar ul li {
  display: inline-block;
  list-style: none;
  margin-left: 86px;
  cursor: pointer;
}

nav .navbar ul li:first-child {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  margin-left: 648;

  color: #ffffff;
}

nav .navbar ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
